# Secrets and Environment
config.json
*.env

# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS metadata
Thumbs.db
.DS_Store

# Binaries
bin/

# Cache
speed_cache.json
steam_cache.json
github_cache.json
free_games_cache.json
